div[data-rehype-pretty-code-fragment] code {
  display: grid;
  counter-reset: line;
}

div[data-rehype-pretty-code-fragment] code .line {
  padding: 0 1.25rem;
  border-left: 2px solid transparent;
}

div[data-rehype-pretty-code-fragment] code[data-line-numbers] .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

div[data-rehype-pretty-code-fragment] code .word {
  background: rgba(200, 200, 255, 0.15);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

div[data-rehype-pretty-code-fragment] code .highlighted {
  background: rgba(200, 200, 255, 0.1);
  border-left: 2px solid #22c55e !important;
}

/* OVERWRITE prose-rem default */
div[data-rehype-pretty-code-fragment] pre {
  padding: 1.25rem 0 !important;
}
